<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>お問い合わせ内容確認</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <form method="post" action="contact_confirm.php">
      <table>
      <tr>
        <th>件名</th>
        <td>{{dataArr.subject}}</td>
      </tr>
      <tr>
        <th>本文</th>
        <td>{{dataArr.body}}</td>
      </tr>
      </table>
      <div>
        <input type="submit" name="back" value="戻る">
        <input type="submit" name="complete" value="送信する">
        {% for key,value in dataArr %}
          {% if value is iterable %}
            {% for v in value %}
              <input type="hidden" name="{{key}}[]" value="{{v}}">
            {% endfor %}
          {% else %}
            <input type="hidden" name="{{key}}" value="{{value}}">
          {% endif %}
        {% endfor %}
      </div>
    </form>
  </body>
</html>