<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}js/portfolio_1.js"> </script>
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>会員詳細情報</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <input type="hidden" name="entry_url" value="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}" id="entry_url">
    <div id="member_detail">
      <div class="detail">
        <table>
        <tr>
          <th>お名前(氏名)</th>
          <td>{{dataArr.family_name}} {{dataArr.first_name}}</td>
        </tr>
        <tr>
          <th>お名前(かな)</th>
          <td>{{dataArr.family_name_kana}} {{dataArr.first_name_kana}}</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>{{dataArr.email}}</td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td>{{dataArr.user_id}}</td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td>********</td>
        </tr>
        <tr>
          <th>性別</th>
          <td>{% if dataArr.sex == '1' %}男性{% elseif dataArr.sex == '2' %}女性{% endif %}</td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td>{{dataArr.year}}年 {{dataArr.month}}月 {{dataArr.day}}日</td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>{{dataArr.zip1}} - {{dataArr.zip2}}</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>{{dataArr.address}}</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>{{dataArr.tel1}} - {{dataArr.tel2}} - {{dataArr.tel3}}</td>
        </tr>
        <tr>
          <th>交通手段</th>
          <td>
          {% for val in dataArr.traffic %}
            {{trafficArr[val]}}<br>
          {% endfor %}
          </td>
        </tr>
        <tr>
          <th>備考</th>
          <td>{{dataArr.contents|nl2br}}</td>
        </tr>
        <tr>
          <th>登録日時</th>
          <td>{{dataArr.regist_date}}</td>
        </tr>
        <tr>
          <th>更新日時</th>
          <td>{{dataArr.update_date}}</td>
        </tr>
        </table>
        <input type="hidden" name="mem_id" id="mem_id" value="{{dataArr.mem_id}}">
      </div>
    </div>
    <div>
      <input type="button" name="back" value="前の画面へ戻る" onclick="history.back(); return false;">
      {% if session.mem_id == dataArr.mem_id %}
        <input type="submit" name="edit" value="編集する" formaction="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/member_edit.php?mem_id={{dataArr.mem_id}}">
        <input type="submit" name="logout" value="ログアウトする" formaction="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/logout.php">
      {% endif %}
    </div>
  </body>
</html>