<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}js/portfolio_1.js"> </script>
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    {# Font Awesome #}
    <script src="https://kit.fontawesome.com/fd25b5e20c.js" crossorigin="anonymous"></script>
    <title>トップページ</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <div id="wrapper">
      {# {% if session.login_flg == '1' %}
        <div>
          ようこそ {{session.user_id}} さん
        </div>
      {% endif %}
      <div id="item_search">
        <form method="post" action="item_search.php">
          商品検索<input type="text" name="search_word" value="{{post.search_word}}"><input type="submit" name="item_search" value="検索">
        </form> 
        {% if errArr | length > 0 %}
        <p><span class="red">{{errArr}}</span></p>
        {% endif %}
      </div> #}
      {% include 'category_menu.html.twig' %}
      <div id="item_list">
        <div id="item_search">
          <form method="post" action="item_search.php">
            商品検索<input type="text" name="search_word" value="{{post.search_word}}"><input type="submit" name="item_search" value="検索">
          </form> 
          {% if errArr | length > 0 %}
            <p><span class="red">{{errArr}}</span></p>
          {# {% elseif %}
            <p>{{count}}件ヒットしました</p> #}
          {% endif %}
        </div>
        {% for value in dataArr %}
          <div class="item">
            <ul>
              <li class="name"><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/item_detail.php?item_id={{value.item_id}}">{{value.item_name}}</a></li>
              <li class="price">&yen;{{value.price|number_format(0, '.', ',')}}</li>
              
              <li class="image"><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/item_detail.php?item_id={{value.item_id}}"><img src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}img/{{value.image}}" alt="{{value.item_name}}"></a></li>
              
              <li class="detail"><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/item_detail.php?item_id={{value.item_id}}">詳細</a></li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

