<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>商品カート</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <div id="wrapper">
      <div id="cart_list">
        <p>ショッピングカート</p>
        <p><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/item_list.php">商品一覧へ戻る</a></p>
        <p>{{session.user_id}}さんのカート内商品数 : {{sumNum}}個 合計金額: &yen;{{sumPrice|number_format(0, '.', ',')}}</p>
        {% if dataArr | length == 0 %}
          <p>カートに商品は入っていません</p>
        {% else %}
        <form method="post" action="order_confirm.php">
          {% for value in dataArr %}
              <div class="item">
                <ul>
                  <li class="image"><img src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}img/{{value.image}}" alt="{{value.item_name}}"></li>
                  <li class="name">{{value.item_name}}</li>
                  <li class="price">&yen;{{value.price|number_format(0, '.', ',')}}</li>
                  <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/cart.php?crt_id={{value.crt_id}}">削除</a></li>
                </ul>
              </div>
          {% endfor %}
          <div>
            <input type="submit" name="order_confirm" value="レジに進む">
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </body>
</html>
