<div id="gnav">
  {% if session.login_flg == '1' %}
    <ul>
      <li><a href="">TOP</a></li>
      <li><a href="">レッスン・WS</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/top.php?mem_id={{session.mem_id}}">グッズ</a></li>
      {# <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/member_list.php">メンバーリスト</a></li> #}
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/contact_form.php">お問い合わせ</a></li>
      <li><a href="">アクセス</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/cart.php?mem_id={{session.mem_id}}">カート</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/mypage.php?mem_id={{session.mem_id}}">{{session.user_id}} のマイページ</a></li>
    </ul>
  {% else %}
    <ul>
      <li><a href="">TOP</a></li>
      <li><a href="">レッスン・WS</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/top.php">グッズ</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/contact_form.php">お問い合わせ</a></li>
      <li><a href="">アクセス</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/login_form.php">ログイン</a></li>
      <li><a href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/regist.php">はじめてご利用の方🔰</a></li>
    </ul>
  {% endif %}
  <div id="user_id">
    {# {% if errArr.email | length %} #}
  </div>
</div>