<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}js/portfolio_1.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans&display=swap" rel="stylesheet">
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>会員ログインページ</title>
  </head>
  <body>
    <div id="nav">
      {% include 'navbar.html.twig' %}
    </div>
    <div class="jumbotron" style="margin: 0 auto; background: url('../img/top-wrapper.jpg') center no-repeat; background-size: cover; margin-bottom: 100px;">
      <div class="container">
        <h1 style="font-family: 'Kaushan Script', cursive; color:white; text-align: center;">Welcome to TK Dance Platform!</h1>
        <div class="container" style="text-align: center;">
          <a class="btn btn-dark btn-sm" href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/login_form.php">ログイン</a>
          <a class="btn btn-dark btn-sm" href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}controller/regist.php">無料新規登録</a>
        </div>
      </div>
    </div>
    <input type="hidden" name="entry_url" id="entry_url" value="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}">
    <div class="container">
      <form method="post" action="login.php">
        <table>
          <div class="form-group">
            <label for="exampleInputEmail1">メールアドレス<span class="red">*</span></label> 
            {% if errArr.email | length > 0 %}
              <br><span class="red">{{errArr.email}}</span>
            {% endif %}
            <input type="email" name="email" value="{{dataArr.email}}"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
            {# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">パスワード<span class="red">*</span></label>
            {% if errArr.password | length > 0 %}
              <br><span class="red">{{errArr.password}}</span>
            {% endif %}
            <input type="password" name="password" value="{{dataArr.password}}" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          {% if errArr.auth | length > 0 %}<br><span class="red">{{errArr.auth}}</span>{% endif %}
          <div>
            <input type="submit" name="login" value="ログインする" class="btn btn-outline-dark btn-sm">
          </div>
        </table>
      </form>
    </div>
  </body>
</html>