<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}js/common.js"> </script>
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>会員ログインページ</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <input type="hidden" name="entry_url" id="entry_url" value="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}">
    <form method="post" action="login.php">
      <table>
        <tr>
          <th>メールアドレス<span class="red">*</span></th>
          <td>
          <input type="text" name="email" value="{{dataArr.email}}"  size="40">
          {% if errArr.email | length > 0 %}<br><span class="red">{{errArr.email}}</span>{% endif %}
          </td>
        </tr>

        <tr>
          <th>パスワード<span class="red">*</span></th>
          <td>
          <input type="password" name="password" value="{{dataArr.password}}"  size="40">
          {% if errArr.password | length > 0 %}<br><span class="red">{{errArr.password}}</span>{% endif %}
          </td>
        </tr>
      </table>
      {% if errArr.auth | length > 0 %}<br><span class="red">{{errArr.auth}}</span>{% endif %}
    <div>
      <input type="submit" name="login" value="ログインする">
    </div>
    </form>
  </body>
</html>