<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}js/portfolio_1.js"> </script>
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>会員登録</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <input type="hidden" name="entry_url" id="entry_url" value="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}">
    <form method="post" action="confirm.php">
    <table>
    <tr>
      <th>お名前(氏名)<span class="red">*</span></th>
      <td>
      <input type="text" name="family_name" value="{{dataArr.family_name}}">
      <input type="text" name="first_name" value="{{dataArr.first_name}}">
      {% if errArr.family_name | length > 0 %}<br><span class="red">{{errArr.family_name}}</span>{% endif %}
      {% if errArr.first_name | length > 0 %}<br><span class="red">{{errArr.first_name}}</span>{% endif %}
      </td>
    </tr>
    <tr>
      <th>お名前(かな)</th>
      <td>
      <input type="text" name="family_name_kana" value="{{dataArr.family_name_kana}}">
      <input type="text" name="first_name_kana" value="{{dataArr.first_name_kana}}">
      </td>  
    </tr>
    <tr>
      <th>メールアドレス<span class="red">*</span></th>
      <td>
      <input type="text" name="email" value="{{dataArr.email}}"  size="40">
      {% if errArr.email | length > 0 %}<br><span class="red">{{errArr.email}}</span>{% endif %}
      </td>
    </tr>
    <tr>
      <th>ユーザー名<span class="red">*</span></th>
      <td>
      <input type="text" name="user_id" value="{{dataArr.user_id}}"  size="40">
      {% if errArr.user_id | length > 0 %}<br><span class="red">{{errArr.user_id}}</span>{% endif %}
      </td>
    </tr>
    <tr>
      <th>パスワード<span class="red">*</span></th>
      <td>
      <input type="text" name="password" value="{{dataArr.password}}"  size="40">
      {% if errArr.password | length > 0 %}<br><span class="red">{{errArr.password}}</span>{% endif %}
      </td>
    </tr>
    <tr>
      <th>性別<span class="red">*</span></th>
      <td>
      {% for index, label in sexArr %}
        <input type="radio" name="sex" value="{{index}}" id="sex_{{index}}"     {% if dataArr.sex == index %} checked="checked" {% endif %}>
        <label for="sex_{{index}}">{{label}}</label>
      {% endfor %}
      {% if errArr.sex | length > 0 %}<br><span class="red">{{errArr.sex}}</span>{% endif %}  
      </td>  
    </tr>
    <tr>
      <th>生年月日<span class="red">*</span></th>
      <td>
      <select name="year">
        {% for index, label in yearArr %}
          <option value="{{index}}" {% if dataArr.year == index %} selected {% endif %}>{{label}}</option>
        {% endfor %}
      </select>
      <select name='month'>
        {% for index, label in monthArr %}
          <option value="{{index}}" {% if dataArr.month == index %} selected {% endif %}>{{label}}</option>
        {% endfor %}
      </select>
      <select name='day'>
        {% for index, label in dayArr %}
          <option value="{{index}}" {% if dataArr.day == index %} selected {% endif %}>{{label}}</option>
        {% endfor %}
      </select>
      {% if errArr.year | length > 0 %}<br><span class="red">{{errArr.year}}</span>{% endif %}  
      {% if errArr.month | length > 0 %}<br><span class="red">{{errArr.month}}</span>{% endif %}  
      {% if errArr.day | length > 0 %}<br><span class="red">{{errArr.day}}</span>{% endif %}  
      </td>  
    </tr>
    <tr>
      <th>郵便番号<span class="red">*</span></th>
      <td>
      <input type="text" name="zip1" value="{{dataArr.zip1}}" id="zip1" size="3" maxlength="3"> -
      <input type="text" name="zip2" value="{{dataArr.zip2}}" id="zip2" size="4" maxlength="4">  
      <input type="button" name="address_search" value="〒から住所を入力" id="address_search">
      {% if errArr.zip1 | length > 0 %}<br><span class="red">{{errArr.zip1}}</span>{% endif %}  
      {% if errArr.zip2 | length > 0 %}<br><span class="red">{{errArr.zip2}}</span>{% endif %}  
      </td>  
    </tr>
    <tr>
      <th>住所<span class="red">*</span></th>
      <td>
      <input type="text" name="address" value="{{dataArr.address}}" id="address" size="40">
      {% if errArr.address | length > 0 %}<br><span class="red">{{errArr.address}}</span>{% endif %}
      </td>
    </tr>  
    <tr>
      <th>電話番号<span class="red">*</span></th>
      <td>
      <input type="text" name="tel1" value="{{dataArr.tel1}}"  size="6" maxlength="6"> -
      <input type="text" name="tel2" value="{{dataArr.tel2}}"  size="6" maxlength="6"> -
      <input type="text" name="tel3" value="{{dataArr.tel3}}"  size="6" maxlength="6">
      {% if errArr.tel1 | length > 0 %}<br><span class="red">{{errArr.tel1}}</span>{% endif %}
      {% if errArr.tel2 | length > 0 %}<br><span class="red">{{errArr.tel2}}</span>{% endif %}
      {% if errArr.tel3 | length > 0 %}<br><span class="red">{{errArr.tel3}}</span>{% endif %}
      </td>
    </tr>
    <tr>
      <th>交通手段<span class="red">*</span></th>
      <td>
      {% for index, label in trafficArr %}
        <input type="checkbox" name="traffic[]" value="{{index}}" id="traffic_{{index}}"     {% if index in dataArr.traffic %} checked="checked" {% endif %}>
      <label for="traffic_{{index}}">{{label}}</label>
      {% endfor %}
      {% if errArr.traffic | length > 0 %}<br><span class="red">{{errArr.traffic}}</span>{% endif %}  
      </td>
    </tr>                    
    <tr>
    <th>備考</th>
    <td><textarea name="contents" rows="4" cols="40">{{dataArr.contents}}</textarea>
    </td>
    </tr>         
    </table>
    <div>
      <input type="submit" name="regist" value="確認画面へ">
    </div>
    </form>
  </body>
</html>